body{
  background-color: rgb(63, 63, 63);
}
.bio-image{
  border-radius: 200px;
  background-color: rgb(63, 63, 63);
}
.photo-container{
  background-color: rgb(63, 63, 63);
  border-color: rgb(63, 63, 63);
}
.card{
  margin: 100px 15px 0px 15px;
  border-color: rgb(63, 63, 63);
}
.card-body{
  text-align: center;
  background-color: rgb(63, 63, 63);
  color: rgb(146, 146, 146)
}

.bandmates, .weather-app, .quiz-app{
  max-width: 360px;
  margin: 7px 0px 7px 0px;
}

@media screen and (max-width: 400px) {

}