body{
  background-color: rgb(63, 63, 63);
  color: white;
}
h5, .navbar-brand{
  margin-top: 10px;
  font-size: 32px;
  font-family: 'Staatliches', cursive;
}
a{
  text-decoration: underline;
}
.short-bio{
  font-family: 'Oswald', sans-serif;
}
.top-row{
  margin-top: 40px;
  padding:0px 20px 0px 20px;
}
.next-row, .col-12{
  text-align: center;
  padding:0px 20px 0px 20px;
}
.bio-image{
  border-radius: 50%;
  background-color: rgb(63, 63, 63);
}
ul{
  padding: 0px 0px 0px 0px;
  margin-bottom: 0px;
}
li{
  margin: 0px 7px 0px 7px;
  font-size: xx-large;
}
.bandmates, .weather-app, .quiz-app{
  max-width: 360px;
  margin: 7px 0px 7px 0px;
}

@media screen and (max-width: 400px) {



}